.library-hours{
    padding: 16px;
    width: 100%;
    height: fit-content;
    background-color: var(--background-secondary);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.library-hours-table{
    border-collapse: collapse;
    width: 100%;
}

#hours tr{
    border: 1px solid rgb(160, 159, 159);
    padding: 8px;
}

#hours tr:nth-child(even){
    background-color: #84a98c;
}

#hours tr:nth-child(odd){
    background-color: #52796f;
}

#hours td{
    font-size: 1.25rem;
}