.contact-us{
    width: 100%;
    padding: 16px;
    height: fit-content;
    background-color: var(--background-secondary);
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    margin-top: 16px;

}

.contact-us-divider{
    width: 100%;
    height: 1px;
    background-color: rgb(147, 148, 150);
    margin-top: 16px;
    margin-bottom: 16px;
    
}